@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to APTC 495.

<!-- Multi-statement block -->
@{
    var greeting = "Welcome to our site!";
    var weekDay = DateTime.Now.DayOfWeek;
    DateTime currentDate = DateTime.Now;
    var greetingMessage = greeting;
}

<p>@greetingMessage</p>
<p>Today is: @weekDay, @currentDate.ToShortDateString()</p>