@page "/Todo"
@rendermode InteractiveServer
@using Microsoft.EntityFrameworkCore
@using BlazorWebAppReports.Models
@inject IDbContextFactory<BlazorWebAppReports.Data.ApplicationDbContext> DbFactory

<PageTitle>Todo</PageTitle>

<h1>Todo (@todos.Count(todo => !todo.IsDone))</h1>

<a href="/archived-todo">
    <button type="button">Access Archived</button>
</a>

<a href="/deleted-todo">
    <button type="button">Access Deleted</button>
</a>

<br />
<br />

<ul>
    @foreach (var todo in todos)
    {
        <li>
            <input type="checkbox" @bind="todo.IsDone" @bind:after="() => UpdateTodo(todo)" />
            <textarea @bind="todo.Title" 
                @bind:after="() => UpdateTodo(todo)"
                style="width:300px; min-height:30px; white-space:pre-wrap; overflow-y:auto;">
            </textarea>

            <button type="button" @onclick="() => ArchiveTodo(todo)">Archive</button>
            <button type="button" @onclick="() => DeleteTodo(todo)">Delete</button>
        </li>
    }
</ul>

<input placeholder="Something todo" @bind="newTodo" />
<button @onclick="AddTodo">Add todo</button>

@code 
{
    private List<BlazorWebAppReports.Models.TodoItem> todos = new();
    private string? newTodo;

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        todos = await context.TodoItems.ToListAsync();
    }

    private async Task AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            using var context = DbFactory.CreateDbContext();

            var todo = new BlazorWebAppReports.Models.TodoItem
            { 
                Title = newTodo, 
                IsDone = false 
            };

            context.TodoItems.Add(todo);
            await context.SaveChangesAsync();

            todos = await context.TodoItems.ToListAsync();
            newTodo = string.Empty;
        }
    }

    private async Task UpdateTodo(BlazorWebAppReports.Models.TodoItem todo)
    {
        using var context = DbFactory.CreateDbContext();

        context.TodoItems.Update(todo);
        await context.SaveChangesAsync();
    }

    private async Task ArchiveTodo(BlazorWebAppReports.Models.TodoItem todo)
    {
        using var context = DbFactory.CreateDbContext();

        var archivedTodo = new BlazorWebAppReports.Models.ArchivedTodoItem
        {
            Title = todo.Title,
            IsDone = todo.IsDone,
            ArchivedDate = DateTime.Now
        };

        context.ArchivedTodoItems.Add(archivedTodo);
        context.TodoItems.Remove(todo);

        await context.SaveChangesAsync();

        todos = await context.TodoItems.ToListAsync();
    }

    private async Task DeleteTodo(BlazorWebAppReports.Models.TodoItem todo)
    {
        using var context = DbFactory.CreateDbContext();

        var deletedTodo = new BlazorWebAppReports.Models.DeletedTodoItem
        {
            Title = todo.Title,
            IsDone = todo.IsDone,
            DeletedDate = DateTime.Now
        };

        context.DeletedTodoItems.Add(deletedTodo);
        context.TodoItems.Remove(todo);

        await context.SaveChangesAsync();

        todos = await context.TodoItems.ToListAsync();
    }

}
