@page "/reports/create"
@using Microsoft.EntityFrameworkCore
@using BlazorWebAppReports.Models
@inject IDbContextFactory<BlazorWebAppReports.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Report</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm Model="Report" OnValidSubmit="AddReport" FormName="create">
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="title" class="form-label">Title:</label> 
                <InputText id="title" @bind-Value="Report.Title" class="form-control" /> 
                <ValidationMessage For="() => Report.Title" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="duedate" class="form-label">DueDate:</label> 
                <InputDate id="duedate" @bind-Value="Report.DueDate" class="form-control" /> 
                <ValidationMessage For="() => Report.DueDate" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label class="form-label">Type</label>

            <InputSelect class="form-control" @bind-Value="Report.Type">
                <option value="">-- Select Type --</option>
                <option value="Bug">Bug</option>
                <option value="Feature">Feature</option>
                <option value="Nice to Have">Nice to Have</option>
                <option value="Other">Other</option>
            </InputSelect>
            </div>        
            <div class="mb-3">
                <label for="priority" class="form-label">Priority:</label> 
                <InputNumber id="priority" @bind-Value="Report.Priority" class="form-control" /> 
                <ValidationMessage For="() => Report.Priority" class="text-danger" /> 
            </div>
            <div class="mb-3">
                <label class="form-label">Assigned To:</label>

            <InputSelect class="form-control" @bind-Value="Report.AssignedTo">
                <option value="">-- Select Team Member --</option>
                <option value="Christina Chamberlain">Christina Chamberlain</option>
                <option value="Kyle Tuchon">Kyle Tuchon</option>
                <option value="Braden Cantu">Braden Cantu</option>
                <option value="Danielle McCartney">Danielle McCartney</option>
                <option value="Benjamin Sherill">Benjamin Sherill</option>
            </InputSelect>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description:</label>
                <InputTextArea id="description" @bind-Value="Report.Description" class="form-control" />
                <ValidationMessage For="() => Report.Description" class="text-danger" />
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/reports">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Report Report { get; set; } = new();

    protected override void OnInitialized() => Report ??= new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddReport()
    {
        using var context = DbFactory.CreateDbContext();
        context.Report.Add(Report);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/reports");
    }
}
