@page "/reports"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Components.QuickGrid
@using Microsoft.EntityFrameworkCore
@using BlazorWebAppReports.Models
@using BlazorWebAppReports.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BlazorWebAppReports.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Index</PageTitle>

<h1>Tickets</h1>

<p>
    <a href="reports/create">Create New</a>
</p>

<a href="/archived-reports">
    <button type="button">Access Archived</button>
</a>

<a href="/deleted-reports">
    <button type="button">Access Deleted</button>
</a>

<br />
<br />

<QuickGrid Class="table" Items="context.Report" Pagination="pagination">
    <PropertyColumn Property="report => report.Id" Sortable="true" />
    <PropertyColumn Property="report => report.Title" Sortable="true" />
    <PropertyColumn Property="report => report.DueDate" Sortable="true" />
    <PropertyColumn Property="report => report.Type" Sortable="true" />
    <PropertyColumn Property="report => report.Priority" Sortable="true" />
    <PropertyColumn Property="report => report.AssignedTo" Title="Assigned To" Sortable="true" />
    <PropertyColumn Property="report => report.Description" Sortable="true" />

    <TemplateColumn Context="report">
        <a href="@($"reports/edit?id={report.Id}")">Edit</a> |
        <a href="@($"reports/details?id={report.Id}")">Details</a> |

        <button type="button" @onclick="() => ArchiveReport(report)">Archive</button>
        <button type="button" @onclick="() => DeleteReport(report)">Delete</button>
    </TemplateColumn>
</QuickGrid>

<Paginator State="pagination" />

@code {
    private PaginationState pagination = new PaginationState { ItemsPerPage = 10 };
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    private async Task ArchiveReport(Report report)
    {
        var archivedReport = new ArchivedReport
        {
            OriginalReportId = report.Id,
            Title = report.Title,
            DueDate = report.DueDate.ToDateTime(TimeOnly.MinValue),
            Type = report.Type,
            Priority = report.Priority,
            Description = report.Description,
            ArchivedDate = DateTime.Now,
            AssignedTo = report.AssignedTo
        };

    context.ArchivedReports.Add(archivedReport);
    context.Report.Remove(report);

    await context.SaveChangesAsync();

    NavigationManager.NavigateTo("/reports", forceLoad: true);
    }

    private async Task DeleteReport(Report report)
    {
        var deletedReport = new DeletedReport
        {
            OriginalReportId = report.Id,
            Title = report.Title,
            DueDate = report.DueDate.ToDateTime(TimeOnly.MinValue),
            Type = report.Type,
            Priority = report.Priority,
            Description = report.Description,
            DeletedDate = DateTime.Now,
            AssignedTo = report.AssignedTo
        };

    context.DeletedReports.Add(deletedReport);
    context.Report.Remove(report);

    await context.SaveChangesAsync();

    NavigationManager.NavigateTo("/reports", forceLoad: true);

    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}